{% load i18n %}

{% block subject %}
    {% blocktrans %}IT Branch Website Account Verification{% endblocktrans %}
{% endblock subject %}


{% block html_body %}
  <p>
        {% blocktrans %}You have received this email because your email was used to sign up for a website of IT branch NIT Srinagar. Please click the button below to verify your account.{% endblocktrans %}
    </p>
    
    <p> 
      <b>
        {% trans "Important:" %}
      </b>
    </p>
    
    <ul>
        <li>{% blocktrans %} Verification link will remain active for a limited time, so we kindly request you to complete the process promptly.{% endblocktrans %}</li>
        <li>{% blocktrans %} If you did not sign up, please do not verify and contact our tech team.{% endblocktrans %}</li>
        <li>{% blocktrans %} Your account security is important to us. If you encounter any issues or have concerns, reach out to our support team for assistance.{% endblocktrans %}</li>
    </ul>
    <br>
    <a
      style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        border-radius: 0.25em;
        color: white;
        text-decoration: none;
      "
      href="{{ protocol }}://{{ domain }}/{{ url|safe }}"
    >Activate Account</a>
    <br>
    <p>
        {% trans "Thank you for your patience." %}
    </p>
    <p>
        {% trans "Greetings," %}
    </p>
    <p>
        {% blocktrans %}IT Web Team{% endblocktrans %}
    </p>
  
{% endblock html_body %}