{% load i18n %}

{% block subject %}
  {% blocktrans %}Account has been successfully created and activated!{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
  <p>{% trans "Your account has been created and is ready to use!" %}</p>

  <p style="margin-bottom: 100px">
    <a style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        border-radius: 0.25em;
        color: white;
        text-decoration: none;
      "
       href="http://localhost:3000/login">Login to Account</a>
  </p>

  <i>{% blocktrans %}If you face difficulties in logging into your account, kindly contact us at techteam.it.nitsri@gmail.com{% endblocktrans %}</i>
  <p>
      {% trans "Thank you for your patience." %}
    </p>
    <p>
        {% trans "Greetings," %}
    </p>
    <p>
        {% blocktrans %}IT Web Team{% endblocktrans %}
    </p>
{% endblock html_body %}
