.degback {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .paradg {
    font-size: 16px; /* Reduce font size for small screens */
  }
  #degbutton1 {
    font-size: medium; /* Adjust font size for smaller screens */
    padding: 8px 20px; /* Adjust padding for smaller screens */
  }
  .my-div {
    margin: 10px; /* Adjust margin for smaller screens */
  }
  .list {
    margin-left: 10px; /* Adjust left margin for smaller screens */
  }
}

#degbutton {
  text-align: center;
  background-color: transparent;
  color: black;
}

#degbutton1 {
  font-size: large;
  font-weight: bold;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #16a4d3;
  padding: 12px 28px;
  margin: 10px;
  transition: background-color 0.2s, color 0.2s; /* Smooth hover effect */
}
#degbutton1:hover {
  background-color: #1a8f87;
  color: white;
}

#credit {
  margin-top: 10px;
  overflow-x: auto;
  border-radius: 1em;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#credit td, #credit th {
  border: 1px solid #ddd;
  padding: 8px;

  text-align: center;
  column-span: 2;
}

#credit tr:nth-child(even) {
  background-color: #eae6e6;
}

#credit tr:hover {
  background-color: #ddd;
}

#credit th {
  column-span: 2;
  text-align: center;
  background-color: #d8dcf0;
  color: darkblue;
}

.list{margin-left: 1em;}
.my-link
{ font-weight: bold;
  color: black;
  text-decoration: underline;
  transition: background-color 0.3s ease;
}
.my-link:hover
{
  color: #1a8f87;
}
.my-link2
{ margin-top: 4px;
  font-weight: bold;
  text-align: center;
  color: black;
  text-decoration: underline;
  transition: background-color 0.3s ease;
}
.my-div {
  margin: 10px;
  width: 8; /* Adjust margin for smaller screens */
}

.paradg {
  font: 1em sans-serif;
 
}
.paradg2 {
  margin-top: .5px;
  
}


.dghead {
  margin-top: 5px;
  display: flex;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
  color: darkblue;
  justify-content: center;
  align-items: center;
}