* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    font-size: 16px;
    --bg-primary: #192e59;
    --bg-secondary: #3db166;
    --border-thin: 1px solid rgb(128, 128, 128, 0.4);
}

body {
    /* background: brown; */
    font-family: 'Bricolage Grotesque', sans-serif;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--bg-secondary);
    margin: 0.5em;
}

/* -------------------- header Section -------------------------- */
.header {
    position: sticky;
    top: -64px;
    z-index: 999;
}

.top-nav {
    width: 100%;
    height: 64px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#master-logo {
    height: 50px;
}

.sub-nav {
    width: 100%;
    height: 46px;
    background-color: var(--bg-primary);
    overflow: hidden;
}

.sub-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    /* background-color: #04AA6D; */
    color: white;
}

.sub-nav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub-nav a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

@media screen and (max-width: 600px) {

    .sub-nav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .sub-nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .sub-nav.responsive {
        position: relative;
    }

    .sub-nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .sub-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .sub-nav.responsive .dropdown {
        float: none;
    }

    .sub-nav.responsive .dropdown-content {
        position: relative;
    }

    .sub-nav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* ---------------------------------- Footer ----------------------------------- */
footer {
    margin-top: 2em;
    background-color: #181818;
    padding: 2em;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

.footer-tile {
    /* min-width: 300px; */
    color: white;
}

.footer-tile .address {
    font-size: 1.2em;
}

.footer-tile .connect {
    text-align: center;
}
.footer-tile .connect img{
    width: 30px;
    margin: 5px;
}

.footer-tile:nth-child(1) {
    flex-grow: 1;
    height: 100%;
    /* text-align: center; */
}


.footer-bar {
    width: 100%;
    opacity: 0.6;
    grid-column: 1/ -1;
}
@media screen and (max-width: 900px){
    footer{
        grid-template-columns: 1fr;
    }
}

.footer-bar hr {
    border-color: var(--bg-secondary);
}

.footer-bar p a {
    color: white;
}



.footer-tile-title {
    color: white;
    padding-bottom: 1em;
    border-bottom: 3px solid var(--bg-secondary);
    /* text-align: center; */
}

.footer-tile li {
    padding: 0.5em 0;
    margin: 0.5em 0;
    list-style: none;
}

.footer-tile li a {
    color: white;
    text-decoration: none;
    opacity: 0.6;
}

.footer-tile li a:hover {
    opacity: 1;
}

/* ------------------------------------ Banner -------------------------------------- */
.banner {
    width: 100%;
    height: 500px;
    background-color: black;
    background: url('./images/banner.jpeg')no-repeat center center/cover;
    position: relative;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 24px black;
    font-size: 1.6em;
    text-align: center;
    /* box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5); */
}

.banner-overlay h1 {
    margin-top: -150px;
    font-weight: bolder;
    text-justify: center;

}

/* ----------------- main --------------------------- */
.main {
    /* border: 1px solid green; */
    margin-top: 2rem;
}

.marquee {
    margin: 0 2em;
    padding: 5px;
    background: rgb(240, 240, 240);
    /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); */
}

.announcement-marquee {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.marquee a {
    color: var(--bg-secondary);
    margin: 0 10px;
    text-decoration: none;
    font-size: large;
}

marquee a img {
    height: 1.2em;
    margin-bottom: -5px;
    margin-right: 5px;
    /* margin: 5px 5px 0 10px; */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2em;
}

.quick-links button {
    padding: 1em;
    border: none;
    outline: none;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    border-radius: 0.25em;
    transition: all 0.2s ease-in;
    cursor: pointer;
}



.quick-links button:nth-child(1) {
    background-color: rgb(243, 152, 147);
}

.quick-links button:nth-child(2) {
    background-color: rgb(184, 140, 191);
    ;
}

.quick-links button:nth-child(3) {
    background-color: rgb(33, 137, 140);
}

.quick-links button:nth-child(4) {
    background-color: rgb(98, 122, 146);
}

.quick-links button:nth-child(5) {
    background-color: rgb(190, 215, 235);
}

.quick-links button:nth-child(6) {
    background-color: rgb(124, 135, 165);
}

.quick-links button:nth-child(7) {
    background-color: rgb(171, 209, 148);
}

.quick-links button:nth-child(8) {
    background-color: rgb(48, 121, 172);
}

.quick-links button:hover {
    background-color: black;
}

.quick-links button img {
    height: 100px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;

    }
}


/* Add your custom CSS styles for the login form here */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.login-container form {
    background-color: #8FB8ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 1.5em;
    border-radius: 0.5em;
}

.login-container input,
.login-container button {
    padding: 0.8em;
    font-size: 1em;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 300px;

}

.login-container button {
    border-radius: 24px;
}


/* Style form elements as needed */
form {
    margin-top: 20px;
}

/* -------------------- Dashboard -------------------------- */
.bar {
    grid-column: span 3;
    height: 46px;
    width: 100%;
    border-bottom: 1px solid var(--bg-secondary);
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 1.5em;
    color: var(--bg-primary);
}

.container {
    min-height: calc(100vh - 156px);
    max-height: calc(100vh - 156px);
    width: 100%;
    display: flex;
    overflow: hidden;
    z-index: 0;
}

.aside {
    min-width: 260px;
    max-width: 260px;
    border-right: 1px solid var(--bg-secondary);
    padding: 1em 1em 1em 0;
}

.aside>div {
    padding: 0em 0;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.aside .btn-container {
    display: flex;
    align-items: center;
    background-color: #e7f4ea;
    background-color: #e8f0fd;
    border-radius: 0 30px 30px 0;
    /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); */
    border: var(--border-thin);
}


.aside .btn-container p {
    width: 50px;
    padding: 0.5em;
    padding-right: 1.5em;
    font-size: 0.8em;
    z-index: 8888;
    border-left: 1px solid rgb(177, 177, 177);
}

.aside-button {
    width: 100%;
    padding: 1em;
    outline: none;
    border: none;
    text-align: left;
    background-color: transparent;
    overflow: hidden;
    font-weight: bold;
    color: var(--bg-primary);
    cursor: pointer;
}

.panel {
    flex-grow: 1;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 48px 1fr;
    grid-gap: 1em;
    overflow-y: scroll;
    margin-bottom: 2rem;
}

.sub-header {
    background-color: var(--bg-primary);
    height: 46px;
    width: 100%;
    grid-column: span 3;
    display: flex;
    align-items: center;
    padding: 0 1em;
    color: white;
}

.panel-section {
    background-color: #e7f4ea;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    border: var(--border-thin);
}

.panel-section>h3 {
    background-color: var(--bg-secondary);
    width: 100%;
    padding: 0.4em;
    color: white;
    text-align: center;
    border-radius: 0.4em 0.4em 0 0;
}

.content {
    width: 100%;
    padding: 1em;
    position: relative;
}

.add-btn-form {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    background-color: white;
    border-radius: 30px;
    border: var(--border-thin);
}

/* --------------- ADD + ------------------ */
.anouncement-section {
    grid-column: span 2;
}

/* .data-container{
    max-height: 30vh;
    overflow-y: scroll;
    padding: 0.5em 0;
} */

.announcement {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    margin: 0.2em 0;
    border-radius: 0.25em;
}

.anouncement-section .add-btn-form,
.alert-section .add-btn-form {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
}

.anouncement-section .add-btn-form input,
textarea,
.alert-section .add-btn-form input {
    height: 100%;
    width: 100%;
    border: none;
    letter-spacing: 1px;
    font-family: monospace;
    padding: 0em;
    outline: none;
    resize: none;
    background-color: transparent;
}

#ok-btn {
    color: white;
    background-color: var(--bg-primary);
    padding: 0.5em;
    font-size: 1em;
    border-radius: 30px;

}



/* -------------- special Classes ------------------ */
.hide {
    display: none;
}

hr {
    margin: 1em 0;
}

form {
    margin: 0;
}