{% load static %}
{% comment %} {% extends 'dashboard.html' %} {% endcomment %}
{% block panel %}
  <div class="panel-section anouncement-section">
    <h3>Announcements</h3>
    <div class="content">
      <div class="data-container">
        {% for x in announcement %}
          <p class="announcement">
            {{ x.description }} <a href="https://{{ x.link }}">{{ x.link }}</a>
          </p>
        {% endfor %}
      </div>
      <hr />
      <form action="" class="add-btn-form" method="POST">
        {% csrf_token %}
        <textarea name="description" id="announcement-description" cols="30" rows="6" placeholder="Announcement" required></textarea>
        <hr />
        <input type="text" name="link" style="color: blue;" placeholder="URL (if any)" />
        <hr />
        <input type="submit" value="Add Announcement" name="identifier" id="ok-btn" />
      </form>
    </div>
  </div>
  <div class="panel-section alert-section">
    <h3>Alerts</h3>
    <div class="content">
      <div class="data-container">
        {% for x in alert %}
          <p class="alert">{{ x.message }}</p>
        {% endfor %}
      </div>
      <hr />
      <form action="" class="add-btn-form" method="POST">
        {% csrf_token %}
        <textarea name="message" cols="30" rows="6" placeholder="Alert Message" required></textarea>
        <hr />
        <input type="number" name="valid" placeholder="Duration in days">
        <hr>
        <input type="submit" value="Add Alert" name="identifier" id="ok-btn" />
      </form>
    </div>
  </div>
{% endblock %}
