{% extends 'index.html' %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <div class="bar">
    <h2>{{ name }}</h2>
  </div>
  <div class="container">
    <div class="aside">
      <div class="upper-section">
        {% for subject in subjects %}
          <form class="btn-container" method="POST">
            {% csrf_token %}
            <input class="aside-button" type="submit" name="identifier" value="{{ subject }}" />
            {% comment %} <p>5th</p> {% endcomment %}
          </form>
        {% endfor %}
      </div>
      <hr />
      <div class="lower-section">
        <form class="btn-container" method="POST">
          {% csrf_token %}
          <input class="aside-button" type="submit" name="identifier" value="ADD +" />
        </form>
      </div>
    </div>
    <div class="panel">
      {% block panel %}
        {% include target %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
