{% extends 'index.html' %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <div class="bar">
    <h1>{{ name }}</h1>
  </div>
  <div class="container">
    <div class="aside">
      <div class="upper-section">
        {% for subject in subjects %}
          <form class="btn-container" method="POST">
            {% csrf_token %}
            <input class="aside-button" type="submit" name="identifier" value="{{ subject }}"/>
            {% comment %} <p>{{ semester }}</p> {% endcomment %}
          </form>
        {% endfor %}
      </div>
      <div class="lower-section">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum facilis quos officia quae dolores iure debitis nesciunt, ab deserunt corrupti voluptates aut tempore.</div>
    </div>
    <div class="panel">
      {% block panel %}
        {% include target %}
      {% endblock %}
    </div>
  </div>

  <script>
    function handleSubjectChange(subject){

    }
  </script>
{% endblock %}


