<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>Login</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta charset="utf-8" />
    </head>
    <body class="body" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div class="form">
          <form method="post" action="/login">
          {% csrf_token %}
            <input
              type="text"
              placeholder="username"
              name="username"
            />
            <br> <br>
            <input
              type="password"
              id="password"
              placeholder="password"
              name="password"
            />
            <br />
            <br />
            <button type="submit">LOGIN</button>
            <p class="message"></p>
          </form></body>
  </html>
</html>
