{% extends 'index.html' %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  <div class="banner">
    <div class="banner-overlay">
      <h1>WELCOME TO IT DEPARTMENT NIT SRINAGAR</h1>
    </div>
  </div>

  <div class="main">
    {% comment %} <p class="title">ALERT MESSAGES</p> {% endcomment %}
    <marquee behavior="scroll" direction="left" class="marquee">
      {% for x in alert %}
        <a href="#"><img src="{% static 'images/bell.png' %}" alt="" />{{ x.message }}</a>
      {% endfor %}
    </marquee>

    {% comment %} <p class="title">QUICK LINKS</p> {% endcomment %}
    <div class="grid quick-links">
      <button><img src="{% static 'images/faculty.png' %}" alt="" /><p>Faculty</p></button>
      <button><img src="{% static 'images/faculty.png' %}" alt="" /><p>Faculty</p></button>
      <button><img src="{% static 'images/students.png' %}" alt="" /><p>Students</p></button>
      <button onclick="window.location.href='/login'"><img src="{% static 'images/faculty.png' %}" alt="" /><p>Faculty</p></button>
      <button><img src="{% static 'images/faculty.png' %}" alt="" /><p>Faculty</p></button>
      <button><img src="{% static 'images/faculty.png' %}" alt="" /><p>Faculty</p></button>
      <button><img src="{% static 'images/faculty.png' %}" alt="" /><p>Faculty</p></button>
      <button><img src="{% static 'images/faculty.png' %}" alt="" /><p>Faculty</p></button>
    </div>
  </div>

  <marquee behavior="scroll" direction="up" class="marquee announcement-marquee">
    {% for x in announcement %}
      <li>{{ x.description }}</li>
    {% endfor %}
  </marquee>

  {% include 'footer.html' %}
{% endblock %}
