{% extends 'index.html' %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  <div class="banner"></div>
  <marquee behavior="scroll" direction="left" class="marquee">
  {% for x in alert %}
    <a href="#">{{x.message}}</a>
  {% endfor %}
  </marquee>

  <div class="grid">
    <button>Faculty</button>
    <button>Faculty</button>
    <button>Faculty</button>
    <button onclick="window.location.href='/login'">Faculty</button>
    <button>Faculty</button>
    <button>Faculty</button>
    <button>Faculty</button>
    <button>Faculty</button>
  </div>

  <marquee behavior="scroll" direction="up" class="marquee announcement-marquee">
    {% for x in announcement %}
      <p>{{x.description}}</p>
    {% endfor %}
    </marquee>
{% endblock %}
