{% extends "dashboard.html" %}
{% block panelA %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta dignissimos praesentium at ea temporibus beatae totam error accusamus velit provident expedita, dolorum itaque impedit cum, accusantium id exercitationem nisi eligendi sit earum veniam! Facere exercitationem, ullam distinctio aperiam dolores vitae molestias beatae eos. Qui dignissimos provident ex libero autem! Dolores reprehenderit, cum quis rerum obcaecati modi, voluptatem numquam non ipsam, incidunt earum ex. Mollitia quaerat saepe magni laboriosam unde asperiores at neque nisi? Vitae odio quisquam aliquam ea quis distinctio repellendus error consequatur? Minima numquam optio repudiandae placeat ab temporibus explicabo enim quos iste! Voluptas, corporis. Praesentium, saepe dolor. Quia?</p>
{% endblock panelA %}

