{% load static %}
{% comment %} {% extends 'dashboard.html' %} {% endcomment %}
{% block panel %}
  <div class="sub-header">
    {{course.name}}
  </div>

  <div class="panel-section assignment-section">
    <h3>Notes</h3>
    <div class="content">
      <hr>
      <form action="" class="add-btn-form">
        <label for="file-input">
          <input type="file" id="file-input" accept="image/*,.pdf" value="ADD" class="hide" />
          <img src="{% static 'images/file.png' %}" alt="" height="30px" />
        </label>
      </form>
    </div>
  </div>
  <div class="panel-section assignment-section">
    <h3>Assignments</h3>
    <div class="content">
      <hr>
      <form action="" class="add-btn-form">
        <label for="file-input">
          <input type="file" id="file-input" accept="image/*,.pdf" value="ADD" class="hide" />
          <img src="{% static 'images/file.png' %}" alt="" height="30px" />
        </label>
      </form>
    </div>
  </div>
  <div class="panel-section assignment-section">
    <h3>Others</h3>
    <div class="content">
      <hr>
      <form action="" class="add-btn-form">
        <label for="file-input">
          <input type="file" id="file-input" accept="image/*,.pdf" value="ADD" class="hide" />
          <img src="{% static 'images/file.png' %}" alt="" height="30px" />
        </label>
      </form>
    </div>
  </div>
{% endblock %}
