<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>Login</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta charset="utf-8" />
    </head>
    <body class="body" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div class="form">
          <form method="post" action="/signup">
          {% csrf_token %}
          <input
              type="name"
              placeholder="name"
              name="name"
            />
            <br />
            <br />
            <input
              type="text"
              placeholder="username"
              name="username"
            />
            <br><br>
            <input
              type="email"
              id="email"
              placeholder="mail"
              name="email"
            />
            <br />
            <br /><input
              type="text"
              id="sid"
              placeholder="sid"
              name="sid"
            />
            <br />
            <br />
            <label>
            <input type="checkbox" value="COA5th"  name="option">
            Computer Architecture and Organization
        </label><br>
        
        <label>
            <input type="checkbox" value="DAA5th"  name="option">
            Design and Analysis of Algorithm
        </label><br>
        
        <label>
            <input type="checkbox" value="MICRO5th" name="option">
            Microprocessor
        </label><br>
        
        <label>
            <input type="checkbox" value="TOC5th"  name="option">
            Theory of computation
        </label><br><br>
            <button type="submit">LOGIN</button>
          </form></body>
  </html>
</html>