.active{
  background: green;
}

.family-1{
  font-family: 'Varela Round', sans-serif !important;
}
.family-2{
  font-family: 'Quicksand', sans-serif !important;
}
.family-3{
  font-family: 'Open Sans', sans-serif !important;
}
