<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Activation</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="verify">
      <h2>Account Verify</h2>

      <p>
        Thank you for signing up! To activate your account, please click the
        Button:
      </p>

      <p>
        <button
          onclick="verify_account()"
          type="button"
          class="btn btn-primary"
          style="width: 25%"
        >
          Verify
        </button>
      </p>
      <p>
        If you didn't sign up for an account, you can safely ignore this email.
      </p>
      <p>
        Best regards,<br />
        IT Web Team
      </p>
    </div>
  </body>
</html>
