<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form id="forgotpassword">
      <h2>Reset Password</h2>

      <label for="verification-code-input">Password:</label>
      <input
        type="password"
        id="verification-code-input"
        name="password"
        placeholder="Enter password"
        required
        minlength="2"
      />

      <label for="re-verification-code-input">Re-Password:</label>
      <input
        type="password"
        id="re-verification-code-input"
        name="repassword"
        minlength="2"
        required
      />

      <button id="verify-button" type="button" onclick="reset_password()">
        Verify
      </button>

      <div id="result-message" style="margin-top: 20px"></div>
    </form>

    <script>
      function verifyAccount() {
        var enteredCode = document.getElementById(
          "verification-code-input"
        ).value;
        var actualCode = "123456";
        var resultMessage = document.getElementById("result-message");
        if (enteredCode === actualCode) {
          resultMessage.innerText = "Account verified successfully!";
        } else {
          resultMessage.innerText =
            "Incorrect verification code. Please try again.";
        }
      }
    </script>
  </body>
</html>
