body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #212529;
}

#verify {
  margin: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}

#verify h2 {
  color: #007bff;
}

#verify a {
  color: #007bff;
  text-decoration: none;
}

#verify a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f9fa;
  padding: 2px 4px;
  border: 1px solid #d6d8db;
  border-radius: 4px;
}

#verify p {
  margin-bottom: 10px;
}

#result-message {
  margin-top: 20px;
  color: green;
}
#forgotpassword {
  width: 300px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#forgotpassword h2 {
  color: #007bff;
}

#forgotpassword label {
  display: block;
  text-align: start;
  margin: 10px 0px 0px 5px;
  color: #666;
}

#forgotpassword input[type="password"] {
  width: 93%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
}

#forgotpassword button,
.btn-primary {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#forgotpassword button:hover,
.btn-primary:hover {
  background-color: #005b8c;
}

#forgotpassword #result-message {
  text-align: center;
  color: #0077b5;
  margin-top: 20px;
}
