/* VisionMission.css */

/* Container styles */
.container-style {
    padding: 10px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Text style for changing text color and cursor on hover */
.arm {
    color: blue;
    cursor: pointer;
}

/* Section heading styles with reduced font size */
.section-heading-style {
    font-size: 18px;
  font-weight: normal; /* Reset font-weight to normal */
  font-family: 'Your-Bold-Font', sans-serif; /* Use a bold-looking font */
  color: rgba(0, 0, 0, 0.7); /* Lower contrast color (adjust as needed) */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add text shadow (adjust as needed) */
  margin: 16px 0;
}

/* List item styles */
.list-item-style {
    font-size: 18px;
    color: black;
}

/* List item hover styles */
.list-item-style:hover {
    color: blue;
}
